* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Digital";
  src: url(Font/digital-7.ttf) format("truetype")
}

body {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-color: rgba(31, 3, 37, 0.76)
}

.calc {
  width: 320px;
  height: 50px;
  text-align: center;
  padding-top: 10px;
  margin-top: 35px;
  font-size: 24px;
  position: relative;
  font-family: "Digital";
}

.container{
  display: grid;
  grid-template: 2.5fr 2.5fr 2fr 2fr 2fr 2fr 2fr 2fr / 2fr 2fr 2fr 2fr;
  height: 400px;
  width: 80%;
  align-items: center;
  grid-template-areas: "out out out out"
                       "output output output output"
                       "openB closeB per AC"
                       "seven eight nine forSlash"
                       "four five six multi"
                       "one two three minus"
                       "zerox dott equal plus"
                       "ans ans back back";
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  padding: 0px 10px 5px;
}

.out {
  height: 30px;
  width: 100%;
  text-align: end;
  grid-area: out;
  font-weight: 400;
  padding-top: 50px;
  font-size: 18px;
  color: white;
  font-family: Arial;
}

.output {
  height: 40px;
  width: 94%;
  grid-area: output;
  text-align: end;
  font-weight: 300;
  padding-top: -7px;
  font-size: 30px;
  color: black;
  border: 1px solid #B9B9B9;
  padding-right: 23px;
}

.a {
  grid-area: openB;
}

.b {
 
  grid-area: closeB;
}

.c {
  background-color: #D4D4D4;
  grid-area: per;
}

.d {
  background-color: #D4D4D4;
  grid-area: AC;
}

.e {
  background-color: #F4F4F4;
  grid-area: seven;
}

.f {
  background-color: #F4F4F4;
  grid-area: eight;
}

.g {
  background-color: #F4F4F4;
  grid-area: nine;
}

.h {
  background-color: #D4D4D4;
  grid-area: forSlash;
}

.i {
  background-color: #F4F4F4;
  grid-area: four;
}

.j {
  background-color: #F4F4F4;
  grid-area: five;
}

.k {
  background-color: #F4F4F4;
  grid-area: six;
}

.l {
  background-color: #D4D4D4;
  grid-area: multi;
}

.m {
  background-color: #F4F4F4;
  grid-area: one;
}

.n {
  background-color: #F4F4F4;
  grid-area: two;
}

.o {
  background-color: #F4F4F4;
  grid-area: three;
}

.p {
  background-color: #D4D4D4;
  grid-area: minus;
}

.q {
  background-color: #F4F4F4;
  grid-area: zerox;
}

.r {
  background-color: #F4F4F4;
  grid-area: dott;
}

.s {
  background-color: #4689F7;
  color: #FEFEFE;
  grid-area: equal;
}

.t {
  background-color: #D4D4D4;
  grid-area: plus;
}

.u {
  background-color: rgb(108, 187, 89);
  grid-area: ans;
}

.v {
  background-color: rgb(226, 94, 94);
  color: rgb(56, 55, 55);
  grid-area: back;
}

p {
  text-align: center;
  margin: 19px auto;
  font-family: helvetica;
  font-weight: 650;
}

* button{
  font-weight: 650;
  font-size: 16px;
  background-color: #D4D4D4;
  width: 100%;
  height: 55px;
  border: 1px black solid;
  border-radius: 5px;
}





@media only screen and (min-width: 400px) {
  .container{
  height: 400px;
  width: 420px;
}

}